{% if is_paginated %}
<div class="uk-margin">
    <ul class="uk-pagination">
        {% if prev_page %}
        <li class="page-item">
            <a class="page-link" href="{{ prev_page }}">Назад</a>
        </li>
        {% endif %}
        {% for p in product_list.paginator.page_range %}
        {% if product_list.number == p %}
        <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% elif p > product_list.number|add:-3 and p < product_list.number|add:3 %} <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %}
        {% if next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ next_page }}">Вперед</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}